@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');



* {padding: 0; margin: 0; border: 0; box-sizing: border-box;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
img {vertical-align: top; max-width: 100%; filter: none;}
button {background-color: inherit; cursor: pointer; color: #000;}
html, body, section {font-family: 'Noto Sans KR', sans-serif; color: #000; overflow-x: hidden;}
li, input, select, button, textarea {font-family: 'Noto Sans KR', sans-serif;}





/* common */
.index_title {margin: 0 auto; text-align: center; color: #000;}
.index_title h2 {font-size: 24px; line-height: 24px;}
.index_title span {display: block; width: 145px; height: 1px; background-color: #000; margin: 10px auto;}
.index_title p {font-size: 12px; line-height: 12px; letter-spacing: 3px;}


.left_wing {position: fixed; top: 50%; left: 0; transform: translateY(-50%); width: 170px; z-index: 15;}
.left_wing a {display: flex; align-items: center; gap: 10px; width: 100%; height: 70px; border: 1px solid #ccc; border-left: none; border-top: none; background-color: #fff; padding-left: 15px; transition: all 0.2s;}
.left_wing a:first-child {border-top: 1px solid #ccc; border-radius: 0 20px 0 0;}
.left_wing a:nth-child(4) {border-radius: 0 0 20px 0;}
.left_wing a span {display: block; width: 35px; height: 35px; border-radius: 50%;}
.left_wing a p {font-size: 14px; font-weight: 500; color: #333;}

.left_wing a:nth-child(1) span {background: url(../img/icon-talk-s.png) no-repeat center/cover;}
.left_wing a:nth-child(2) span {background: url(../img/icon-youtube-s.png) no-repeat center/cover;}
.left_wing a:nth-child(3) span {background: url(../img/icon-school-s.png) no-repeat center/cover;}
.left_wing a:nth-child(4) span {background: url(../img/icon-map-s.png) no-repeat center/cover;}

.left_wing a:nth-child(1):hover {background-color: #000; border-color: #000;}
.left_wing a:nth-child(1):hover span {background: url(../img/icon-talk.png) no-repeat center/cover;}
.left_wing a:nth-child(1):hover p {color: #fff;}

.left_wing a:nth-child(2):hover {background-color: #000; border-color: #000;}
.left_wing a:nth-child(2):hover span {background: url(../img/icon-youtube.png) no-repeat center/cover;}
.left_wing a:nth-child(2):hover p {color: #fff;}

.left_wing a:nth-child(3):hover {background-color: #000; border-color: #000;}
.left_wing a:nth-child(3):hover span {background: url(../img/icon-school.png) no-repeat center/cover;}
.left_wing a:nth-child(3):hover p {color: #fff;}

.left_wing a:nth-child(4):hover {background-color: #000; border-color: #000;}
.left_wing a:nth-child(4):hover span {background: url(../img/icon-map.png) no-repeat center/cover;}
.left_wing a:nth-child(4):hover p {color: #fff;}

.left_wing .close {position: absolute; bottom: -50px; left: 0; width: 50px; height: 50px; border: 1px solid #ccc; background-color: #fff; border-top: none; border-left: none; border-radius: 0 0 20px 0; cursor: pointer;}
.left_wing .close span:first-child {position: absolute; top: 48%; left: 48%; transform: translate(-50%, -50%) rotate(45deg); width: 22px; height: 3px; background-color: #333; border-radius: 3px;}
.left_wing .close span:last-child {position: absolute; top: 48%; left: 48%; transform: translate(-50%, -50%) rotate(-45deg); width: 22px; height: 3px; background-color: #333; border-radius: 3px;}

.left_open {position: fixed; top: 50%; left: -50px; transform: translateY(-50%); width: 50px; height: 50px; background-color: #fff; border: 1px solid #ccc; border-left: none; border-radius: 0 10px 10px 0; z-index: 15; cursor: pointer;}
.left_open span:first-child {position: absolute; top: 16px; left: 11px; transform: rotate(-35deg); width: 22px; height: 3px; background-color: #333; border-radius: 3px;}
.left_open span:last-child {position: absolute; top: 27px; left: 11px; transform: rotate(35deg); width: 22px; height: 3px; background-color: #333; border-radius: 3px;}





/* header */
header {position: fixed; top: 0; left: 0; width: 100%; height: 100px; z-index: 1000; box-shadow: 0px 10px 15px rgba(0,0,0,0.2);}

header .header_top {width: 100%; height: 50px; background-color: #d9e021;}
header .header_top .inner {max-width: 1020px; width: 100%; height: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}
header .header_top .inner .left {display: flex; height: 100%;}
header .header_top .inner .left a {position: relative; display: block; width: 180px; height: 100%;}
header .header_top .inner .left a p {position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; font-size: 14px; color: #000;}
header .header_top .inner .left a.on {background-color: #000;}
header .header_top .inner .left a.on p {color: #fff; font-weight: 700;}

header .header_top .inner .sns {display: flex; align-items: center; gap: 6px;}
header .header_top .inner .sns a {display: flex; justify-content: center; align-items: center; width: 20px; height: 20px;}
header .header_top .inner .sns a img {width: 100%; height: 100%; object-fit: cover;}


header .header_bottom {width: 100%; height: 50px; background-color: #000;}
header .header_bottom .inner {position: relative; max-width: 1020px; width: 100%; height: 100%; margin: 0 auto; display: flex; align-items: center;}

header .header_bottom .inner .logo {display: flex; justify-content: center; align-items: center; width: 180px; height: 100%;}
header .header_bottom .inner .logo img {width: 160px;}

header .header_bottom .inner .gnb {position: absolute; top: 0; left: 180px; display: flex;}
header .header_bottom .inner .gnb > li > a {display: flex; justify-content: center; align-items: center; width: 140px; height: 50px; font-size: 14px; font-weight: 700; color: #fff;}
header .header_bottom .inner .gnb ul {display: none;}
header .header_bottom .inner .gnb ul li a {display: flex; justify-content: center; align-items: center; width: 140px; height: 40px; background-color: #fff; border: 1px solid #ccc; border-top: none; font-size: 12px; color: #000;}

header .header_bottom .inner .gnb > li:hover > a {background-color: #d9e021; color: #000;}
header .header_bottom .inner .gnb > li.on > a {background-color: #d9e021; color: #000;}
header .header_bottom .inner .gnb ul li a:hover {background-color: #d9e021; border-color: #d9e021;}
header .header_bottom .inner .gnb ul li a.on {background-color: #d9e021; border-color: #d9e021;}

header .header_bottom .inner .ham {position: absolute; top: 50%; right: 16px; transform: translateY(-50%); width: 40px; height: 40px; border-radius: 50%; background-color: #fff; cursor: pointer; display: none;}
header .header_bottom .inner .ham span:nth-child(1) {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 21px; height: 3px; background-color: #000; border-radius: 3px;}
header .header_bottom .inner .ham span:nth-child(2) {position: absolute; top: 36%; left: 50%; transform: translate(-50%, -50%); width: 21px; height: 3px; background-color: #000; border-radius: 3px;}
header .header_bottom .inner .ham span:nth-child(3) {position: absolute; top: 64%; left: 50%; transform: translate(-50%, -50%); width: 21px; height: 3px; background-color: #000; border-radius: 3px;}





/* aside */
.aside_bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.6; z-index: 9999; cursor: pointer; display: none;}

aside {position: fixed; top: 0; right: -300px; width: 300px; height: 100vh; background-color: #fff; z-index: 10000;}

aside .top {position: relative; width: 100%; height: 90px; background-color: #000; display: flex; align-items: center; padding: 0 15px;}
aside .top img {width: 100px;}
aside .top .close {position: absolute; top: 50%; right: 16px; transform: translateY(-50%); width: 40px; height: 40px; background-color: #fff; border-radius: 50%; cursor: pointer;}
aside .top .close span:first-child {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(45deg); width: 24px; height: 3px; background-color: #000; border-radius: 3px;}
aside .top .close span:last-child {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(-45deg); width: 24px; height: 3px; background-color: #000; border-radius: 3px;}

aside .link_go {display: flex; width: 100%; height: 50px;}
aside .link_go a {position: relative; display: block; width: 50%; height: 100%; background-color: #e6e6e6; border-bottom: 1px solid #000;}
aside .link_go a:first-child {border-right: 1px solid #000;}
aside .link_go a p {position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; font-size: 14px; font-weight: 700; color: #000;}

aside .gnb > li > a {display: block; padding: 12px 16px; border-bottom: 1px dashed #999; font-size: 14px; font-weight: 700; color: #808080;}
aside .gnb .depth {display: none;}
aside .gnb ul li a {display: block; padding: 10px 25px; font-size: 12px; font-weight: 500; color: #808080;}

aside .sns {position: absolute; bottom: 30px; left: 50%; transform: translateX(-50%); width: 100%; display: flex; justify-content: center; gap: 8px;}
aside .sns a {display: flex; justify-content: center; align-items: center; width: 35px; height: 35px;}
aside .sns a img {width: 100%; height: 100%; object-fit: cover;}





/* main_slide */
.main_slide {width: 100%; height: 750px; margin-top: 100px;}
.main_slide .swiper-slide {position: relative; width: 100%; height: 100%;}
.main_slide .swiper-slide .bg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.2;}
.main_slide .swiper-slide .txt {position: absolute; top: 46%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; color: #fff;}
.main_slide .swiper-slide .txt h2 {font-size: 60px; line-height: 60px;}
.main_slide .swiper-slide .txt h3 {font-size: 24px; line-height: 24px; letter-spacing: 9px; margin-top: 15px;}
.main_slide .swiper-slide .txt a {position: relative; display: block; width: 220px; height: 60px; border-radius: 15px; background-color: #d9e021; margin: 50px auto 0;}
.main_slide .swiper-slide .txt a p {position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); width: 100%; font-size: 18px; line-height: normal; color: #000; margin: 0 auto;}

.main_slide .swiper-pagination {position: absolute; bottom: 45px; left: 50%; transform: translateX(-50%); z-index: 15; display: flex; align-items: center;}
.main_slide .swiper-pagination-bullet {width: 16px; height: 16px; border: 1px solid #fff; background-color: transparent; border-radius: 0; opacity: 1;}
.main_slide .swiper-pagination-bullet-active {background-color: #fff; opacity: 1;}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 7px;}





/* index_box */
.index_box {width: 100%; padding: 110px 0 70px;}

.index_box .inner {max-width: 1130px; width: 100%; margin: 0 auto;}

.index_box .inner > .txt {margin: 0 auto 60px; text-align: center;}
.index_box .inner > .txt p {font-size: 60px; line-height: 72px; color: #000; font-weight: 300; margin-bottom: 30px;}
.index_box .inner > .txt span {display: block; font-size: 24px; line-height: 36px; font-weight: 300; color: #808080;}

.index_box .inner .index_contents {display: flex; justify-content: space-between;}

.index_box .inner .index_contents .contents {width: 320px;}

.index_box .inner .index_contents .contents .top {position: relative; width: 100%; height: 110px; border-radius: 15px; background-color: #000; margin-bottom: 10px;}
.index_box .inner .index_contents .contents .top h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; font-size: 24px;line-height: 36px; color: #fff;}
.index_box .inner .index_contents .contents .top h2 span {display: block; font-size: 18px; line-height: 21px;}

.index_box .inner .index_contents .contents .bottom {height: 300px; background-color: #d9e021; padding: 20px 15px 0; border-radius: 15px;}
.index_box .inner .index_contents .contents .bottom .ttop {height: 63px;}
.index_box .inner .index_contents .contents .bottom .ttop p {font-size: 18px; line-height: 21px; text-align: center;}
.index_box .inner .index_contents .contents .bottom .bbot {text-align: center;}
.index_box .inner .index_contents .contents .bottom .bbot h2 {font-size: 18px; margin: 25px 0 15px;}
.index_box .inner .index_contents .contents .bottom .bbot p {display: flex; gap: 20px; font-size: 18px; justify-content: center;}





/* space */
.space {width: 100%; padding: 90px 0 150px; background-color: #d9e021;}

.space .inner {max-width: 1200px; width: 100%; margin: 0 auto;}

.space .contents_box {display: flex; justify-content: space-between; align-items: center; margin-top: 50px;}

.space .contents_box .left {width: 250px;}
.space .contents_box .left li {display: flex; justify-content: space-between; align-items: center; padding: 0 15px 0 20px; width: 100%; height: 50px; border-radius: 5px; margin-bottom: 15px; cursor: pointer; transition: all 0.2s;}
.space .contents_box .left li:last-child {margin-bottom: 0;}
.space .contents_box .left li p {font-size: 24px; position: relative; top: -2px;}
.space .contents_box .left li span {display: block; width: 13px; height: 13px; border-radius: 50%; background-color: #d9e021;}

.space .contents_box .left li.on {background-color: #000;}
.space .contents_box .left li.on p {color: #fff;}
.space .contents_box .left li:hover {background-color: #000;}
.space .contents_box .left li:hover p {color: #fff;}

.space .contents_box .right {width: 900px;}

.space .contents_box .right .space_slide {display: none; width: 100%;}
.space .contents_box .right .space_slide.active {display: block;}

.space .contents_box .right .space_slide .swiper-slide {width: 100%; height: 600px;}
.space .contents_box .right .space_slide .swiper-slide img {width: 100%; height: 100%; object-fit: cover; border-radius: 15px;}

.space_slide .swiper-pagination {position: absolute; bottom: 30px; left: 40px; z-index: 15; display: flex; align-items: center;}
.space_slide .swiper-pagination-bullet {width: 16px; height: 16px; border: 1px solid #fff; background-color: transparent; border-radius: 0; opacity: 1;}
.space_slide .swiper-pagination-bullet-active {background-color: #fff; opacity: 1;}





/* video */
.video {width: 100%; padding: 130px 0 150px;}

.video .inner {max-width: 1124px; width: 100%; margin: 0 auto;}

.video .inner .imagee {position: relative; width: 100%; margin: 60px auto 0;}

.video .inner .gallery-main-box {width: 1024px; height: 576px; margin: 0 auto 30px;}
.video .inner .gallery-main-box .swiper-slide {width: 100%; height: 100%;}
.video .inner .gallery-main-box .swiper-slide p {width: 100%; height: 100%;}
.video .inner .gallery-main-box .swiper-slide p iframe {width: 100%; height: 100%;}

.video .inner .gallery-thumb-box {width: 1024px; margin: 0 auto;}

.video .inner .viedo_btn {position: absolute; bottom: 65px; left: 0; width: 100%;}
.video .inner .viedo_btn img {position: absolute; cursor: pointer;}
.video .inner .viedo_btn .video_prev {left: 0;}
.video .inner .viedo_btn .video_next {right: 0;}

.gallery-box .gallery-thumb-box .swiper-slide .info-img{position:relative;padding:0 0 62.5%;height:0;box-sizing:border-box;}
.gallery-box .gallery-thumb-box .swiper-slide .info-img img{position:absolute;}
.object-fit img{width:100%;height:100%;object-fit:cover;}





/* ask */
.ask {width: 100%; background-color: #e6e6e6; padding: 240px 0 150px;}

.ask .inner {max-width: 1280px; width: 100%; margin: 0 auto;}

.odometer {display: flex; justify-content: center; align-items: flex-end; color: #4d4d4d;}
.odometer .digit {font-size: 120px; width: 75px; height: 120px; line-height: 110px; overflow: hidden; font-weight: 900;}
.odometer .digit.digitCom {width: 40px; height: 136px; line-height: 130px; overflow: unset;}

.odometer.on .digit .digit-thousand {-webkit-animation: slide 5s 1 ease; animation: slide 5s 1 ease;}
.odometer.on .digit .digit-hundred {-webkit-animation: slide 5s 1 ease-out; animation: slide 5s 1  ease-out;}
.odometer.on .digit .digit-ten {-webkit-animation: slide 5s 1 ease-in-out; animation: slide 5s 1 ease-in-out;}
.odometer.on .digit .digit-one {-webkit-animation: slide 5s 1 linear; animation: slide 5s 1 linear;}


@-webkit-keyframes slide {
    0% {
        -webkit-transform: translateY(-10em);
    }
    40% {
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(0);
    }
}

.ask .inner .odo_con h2 {font-size: 36px; line-height: 36px; text-align: center; color: #4d4d4d; margin-bottom: 20px;}

.ask .inner .odo_p {font-size: 24px; text-align: center; margin: 30px 0 120px; color: #4d4d4d;}

.ask .inner .app_box {display: flex; justify-content: space-between; align-items: flex-start; width: 100%;}

.ask .inner .app_box > div h2 {font-size: 36px; line-height: 36px; color: #4d4d4d; margin-bottom: 70px;}

.ask .inner .app_box .left .contents_box {width: 600px;}

.ask .inner .app_box .left .contents_box .contents {width: 100%; display: flex; align-items: center; margin-top: 15px;}
.ask .inner .app_box .left .contents_box .contents:first-child {margin-top: 0;}

.ask .inner .app_box .left .contents_box .contents h3 {font-size: 24px; color: #4d4d4d; width: 260px;}

.ask .inner .app_box .left .contents_box .contents > input {width: calc(100% - 260px); height: 60px; border-radius: 15px; background-color: #fff; font-weight: 18px; padding: 0 25px; outline: none;}

.ask .inner .app_box .left .contents_box .contents select {width: calc(100% - 260px); height: 60px; border-radius: 15px; font-weight: 18px; padding: 0 25px; outline: none; appearance: none; background: #fff url(../img/select_arrow.png) no-repeat 95%;}
.ask .inner .app_box .left .contents_box .contents select.basic {display: block;}
.ask .inner .app_box .left .contents_box .contents select.certi_class {display: none;}
.ask .inner .app_box .left .contents_box .contents select.live_class {display: none;}
.ask .inner .app_box .left .contents_box .contents select.edu_class {display: none;}

.ask .inner .app_box .left .contents_box .contents .label {width: calc(100% - 260px); display: flex; justify-content: center; align-items: center; gap: 15px;}
.ask .inner .app_box .left .contents_box .contents .label label {display: flex; align-items: center; gap: 7px; cursor: pointer;}
.ask .inner .app_box .left .contents_box .contents .label label input[type="radio"] {outline: none; appearance: none; cursor: pointer; width: 14px; height: 14px; border: 1px solid #4d4d4d; position: relative; top: 2px;}
.ask .inner .app_box .left .contents_box .contents .label label input[type="radio"]:checked {background-color: #4d4d4d;}
.ask .inner .app_box .left .contents_box .contents .label label span {font-size: 18px; font-weight: 700;}

.ask .inner .app_box .left .contents_box .contents .time {width: calc(100% - 260px); height: 60px; background-color: #fff; border-radius: 15px; display: flex; justify-content: space-between; align-items: center; padding: 0 25px;}
.ask .inner .app_box .left .contents_box .contents .time input {width: 110px; height: 100%; font-size: 18px; color: #4d4d4d; outline: none;}
.ask .inner .app_box .left .contents_box .contents .time p {font-size: 18px; font-weight: 700; color: #4d4d4d;}

.ask .inner .app_box .left .left_line {width: 100%; height: 1px; background-color: #333; margin: 30px auto 20px;}

.ask .inner .app_box .left .agree_box {width: 430px; margin: 0 auto;}
.ask .inner .app_box .left .agree_box > div {display: flex; justify-content: space-between; align-items: center; margin-bottom: 10px;}
.ask .inner .app_box .left .agree_box > div:last-child {margin-bottom: 0;}
.ask .inner .app_box .left .agree_box label {display: flex; align-items: center; gap: 7px; cursor: pointer;}
.ask .inner .app_box .left .agree_box label input[type="checkbox"] {outline: none; appearance: none; cursor: pointer; width: 14px; height: 14px; border: 1px solid #4d4d4d; position: relative; top: 1px;}
.ask .inner .app_box .left .agree_box label input[type="checkbox"]:checked {background-color: #4d4d4d;}
.ask .inner .app_box .left .agree_box label span {font-size: 18px; font-weight: 700; color: #4d4d4d;}
.ask .inner .app_box .left .agree_box p {font-size: 18px; font-weight: 700; color: #4d4d4d; cursor: pointer;}

.ask .inner .app_box .left > button {position: relative; display: block; width: 180px; height: 60px; border-radius: 15px; background-color: #d9e021; margin: 50px auto 0;}
.ask .inner .app_box .left > button p {position: absolute; top: 48%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; font-size: 21px; color: #000; font-weight: 500;}

.ask .inner .app_box .center_line {width: 1px; height: 630px; background-color: #333; position: relative; top: 100px;}

.ask .inner .app_box .right {max-width: 540px; width: 100%;}

.ask .inner .app_box .right .contents {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 60px; padding: 0 40px; border-radius: 15px; background-color: #fff; margin-bottom: 15px;}
.ask .inner .app_box .right .contents:first-child {margin-bottom: 0;}
.ask .inner .app_box .right .contents p {font-size: 18px; font-weight: 300;}
.ask .inner .app_box .right .contents h3 {font-size: 18px;}
.ask .inner .app_box .right .contents h3.write_com {color: #333;}
.ask .inner .app_box .right .contents h3.reply_com {color: #ed1c24;}





/* footer */
footer {width: 100%; padding: 40px 0 55px; background-color: #000; color: #fff;}

footer .inner {max-width: 1020px; width: 100%; margin: 0 auto; display: flex; justify-content: space-between; align-items: center;}

footer .inner .left {display: flex; gap: 25px;}
footer .inner .left img {width: 180px; height: 100px;}
footer .inner .left .center p {position: relative; font-size: 12px; line-height: 12px; margin-bottom: 10px;}
footer .inner .left .center div {display: flex; gap: 19px;}
footer .inner .left .center div p:first-child::before {content: ''; position: absolute; top: 2px; right: -11px; width: 1px; height: 10px; background-color: #fff;}

footer .inner .right {display: flex; flex-direction: column; justify-content: space-between; gap: 30px;}
footer .inner .right .pri {display: flex; gap: 19px;}
footer .inner .right .pri a {position: relative; font-size: 12px;}
footer .inner .right .pri a::before {content: ''; position: absolute; top: 5px; right: -11px; width: 1px; height: 10px; background-color: #fff;}
footer .inner .right .pri a:last-child:before {display: none;}

footer .inner .right .copy {font-size: 12px; text-align: right; word-break: keep-all;}





/* 동의 */
.info_bg {position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.6; z-index: 9998; cursor: pointer; display: none;}
.info_wrap {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 650px; height: 600px; background-color: #fff; border-radius: 15px; padding: 15px; z-index: 9999; display: none;}
.info_wrap .in_title {display: flex; justify-content: space-between; align-items: center; border-top: 1px solid #000; border-bottom: 1px solid #000; padding: 8px 0; margin-bottom: 25px;}
.info_wrap .in_title h2 {font-size: 18px;}
.info_wrap .in_title .close {position: relative; width: 30px; height: 30px; cursor: pointer;}
.info_wrap .in_title .close span {position: absolute; top: 50%; left: 50%; width: 20px; height: 3px; background-color: #000; border-radius: 3px;}
.info_wrap .in_title .close span:first-child {transform: translate(-50%, -50%) rotate(45deg);}
.info_wrap .in_title .close span:last-child {transform: translate(-50%, -50%) rotate(-45deg);}
.info_wrap .contents {width: 100%; height: 490px; overflow-y: auto;}
.info_wrap .contents p {font-size: 14px; padding-bottom: 20px;}





/* 반응형 시작 */
@media(max-width: 1650px){

    

}

@media(max-width: 1240px){

    .ask .inner .app_box .left .contents_box {width: 500px;}
    .ask .inner .app_box .left .contents_box .contents .label {flex-direction: row; flex-wrap: wrap; gap: 0;}
    .ask .inner .app_box .left .contents_box .contents .label label {width: 33.33%; justify-content: center;}
    .ask .inner .app_box .right {max-width: 500px;}


    .space .inner {padding: 0 16px;}
    .space .contents_box {flex-direction: column-reverse; gap: 40px; max-width: 900px; width: 100%; margin: 40px auto 0;}
    .space .contents_box .left {width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; gap: 2%}
    .space .contents_box .left li {width: 23.5%; border: 1px solid #000;}
    .space .contents_box .left li p {font-size: 18px;}
    .space .contents_box .right {width: 100%;}

}

@media(max-width: 1200px){

    .index_box .inner {padding: 0 16px;}

}

@media(max-width: 1100px){

    .ask .inner .app_box > div h2 {text-align: center;}
    .ask .inner .app_box {flex-direction: column; justify-content: center; align-items: center;}
    .ask .inner .app_box .left .contents_box {width: 600px;}
    .ask .inner .app_box .center_line {display: none;}
    .ask .inner .app_box .right {max-width: 600px; margin-top: 60px;}

}

@media(max-width: 1080px){

    header {height: 90px;}
    header .header_top {display: none;}
    header .header_bottom {height: 90px;}
    header .header_bottom .inner .gnb {display: none;}
    header .header_bottom .inner .ham {display: block;}


    footer .inner {padding: 0 16px;}


    .main_slide {height: 600px; margin-top: 90px;}
    .main_slide .swiper-slide .txt {top: 50%;}
    .main_slide .swiper-slide .txt h2 {font-size: 48px; line-height: 48px;}
    .main_slide .swiper-slide .txt h3 {font-size: 18px; line-height: 18px;}
    .main_slide .swiper-slide .txt a {width: 180px; height: 50px; border-radius: 10px; margin: 30px auto 0;}
    .main_slide .swiper-pagination {bottom: 25px;}


    .video .inner .imagee {width: 800px;}
    .video .inner .gallery-main-box {width: 800px; height: 450px; margin: 0 auto 20px;}
    .video .inner .gallery-thumb-box {width: 800px;}

}

@media(max-width: 1024px){

    .ask {padding: 80px 0;}
    .index_box {padding: 80px 0;}
    .space {padding: 80px 0;}
    .video {padding: 80px 0;}


    footer .inner {flex-direction: column; justify-content: center;}
    footer .inner .left {flex-direction: column; justify-content: center; align-items: center;}
    footer .inner .left .center p {text-align: center;}
    footer .inner .left .center div {justify-content: center;}
    footer .inner .right .copy {text-align: center;}


    .odometer .digit {font-size: 75px; width: 48px; height: 85px; line-height: 80px;}
    .odometer .digit.digitCom {width: 27px; height: 80px; line-height: 55px;}
    .ask .inner .odo_p {font-size: 18px; margin: 20px 0 80px;}
    .ask .inner .app_box > div h2 {font-size: 30px; line-height: 30px; margin-bottom: 40px;}


    .index_box .inner > .txt p {font-size: 48px; line-height: 58px;}
    .index_box .inner > .txt span {font-size: 21px; line-height: 30px;}

    .index_box .inner .index_contents .contents {width: 32%;}
    .index_box .inner .index_contents .contents .top {height: 80px;}
    .index_box .inner .index_contents .contents .top h2 {font-size: 18px; line-height: 24px;}
    .index_box .inner .index_contents .contents .top h2 span {font-size: 14px; line-height: 14px;}
    .index_box .inner .index_contents .contents .bottom {height: 250px;}
    .index_box .inner .index_contents .contents .bottom .ttop {height: 54px;}
    .index_box .inner .index_contents .contents .bottom .ttop p {font-size: 14px; line-height: 18px;}
    .index_box .inner .index_contents .contents .bottom .bbot h2 {font-size: 14px; margin: 15px 0 10px;}
    .index_box .inner .index_contents .contents .bottom .bbot p {font-size: 14px;}


    .space .contents_box .right .space_slide .swiper-slide {height: 480px;}

}

@media(max-width: 830px){

    .video .inner .imagee {width: 600px;}
    .video .inner .gallery-main-box {width: 600px; height: 338px; margin: 0 auto 20px;}
    .video .inner .gallery-thumb-box {width: 600px;}

}

@media(max-width: 768px){

    .info_wrap {width: 340px; height: 500px;}
    .info_wrap .contents {height: 395px;}


    .main_slide {height: 400px;}
    .main_slide .swiper-slide .txt h2 {font-size: 36px; line-height: 36px;}
    .main_slide .swiper-slide .txt h3 {font-size: 16px; line-height: 16px;}
    .main_slide .swiper-slide .txt a {width: 160px; height: 40px; border-radius: 5px; margin: 30px auto 0;}
    .main_slide .swiper-slide .txt a p {font-size: 14px;}
    .main_slide .swiper-pagination {bottom: 25px;}


    .odometer .digit {font-size: 48px; width: 30px; height: 65px; line-height: 65px;}
    .odometer .digit.digitCom {width: 15px; height: 60px; line-height: 40px;}
    .ask .inner .odo_p {margin: 10px 0 50px;}

    .ask .inner .app_box {padding: 0 16px;}
    .ask .inner .app_box .left {width: 100%;}
    .ask .inner .app_box .left .contents_box {width: 100%;}
    .ask .inner .app_box .left .contents_box .contents h3 {font-size: 18px; width: 170px;}
    .ask .inner .app_box .left .contents_box .contents > input {width: calc(100% - 170px);}
    .ask .inner .app_box .left .contents_box .contents select {width: calc(100% - 170px);}
    .ask .inner .app_box .left .contents_box .contents .time {width: calc(100% - 170px);}
    .ask .inner .app_box .left .contents_box .contents .label {width: calc(100% - 170px); flex-wrap: nowrap; gap: 15px;}
    .ask .inner .app_box .left .contents_box .contents .label label {width: auto;}

    .ask .inner .app_box .right .contents {padding: 0 20px; height: 40px;}
    .ask .inner .app_box .right .contents p {font-size: 10px;}
    .ask .inner .app_box .right .contents h3 {font-size: 10px;}
    .ask .inner .app_box .left > button {width: 140px; height: 40px; border-radius: 10px; margin: 30px auto 0;}
    .ask .inner .app_box .left > button p {font-size: 14px;}

    .ask .inner .app_box .left .agree_box label span {font-size: 14px;}
    .ask .inner .app_box .left .agree_box p {font-size: 14px;}


    .index_box .inner > .txt p {font-size: 30px; line-height: 38px; margin-bottom: 15px;}
    .index_box .inner > .txt span {font-size: 16px; line-height: 24px;}

    .index_box .inner .index_contents .contents .top {height: 60px;}
    .index_box .inner .index_contents .contents .top h2 {font-size: 15px; line-height: 20px;}
    .index_box .inner .index_contents .contents .top h2 span {font-size: 11px; line-height: 11px;}
    .index_box .inner .index_contents .contents .bottom {height: 210px;}
    .index_box .inner .index_contents .contents .bottom .ttop {height: 44px;}
    .index_box .inner .index_contents .contents .bottom .ttop p {font-size: 11px; line-height: 15px;}
    .index_box .inner .index_contents .contents .bottom .bbot h2 {font-size: 12px;}
    .index_box .inner .index_contents .contents .bottom .bbot p {font-size: 12px;}


    .space .contents_box .right .space_slide .swiper-slide {height: 350px;}
    .space_slide .swiper-pagination {bottom: 20px; left: 30px;}
    .space_slide .swiper-pagination-bullet {width: 12px; height: 12px;}
    .space .contents_box .left li {padding: 0 10px; height: 40px;}
    .space .contents_box .left li p {font-size: 14px;}
    .space .contents_box .left li span {width: 9px; height: 9px;}

}

@media(max-width: 640px){

    .video .inner .imagee {width: 500px; margin: 40px auto 0;}
    .video .inner .gallery-main-box {width: 500px; height: 280px; margin: 0 auto 10px;}
    .video .inner .gallery-thumb-box {width: 500px;}

}

@media(max-width: 600px){

    .main_slide .swiper-slide .txt {padding: 0 16px;}
    .main_slide .swiper-slide .txt h3 {line-height: 24px;}


    .index_box .inner .index_contents {display: block;}
    .index_box .inner .index_contents .contents {width: 100%; margin-bottom: 40px;}
    .index_box .inner .index_contents .contents:last-child {margin-bottom: 0;}
    .index_box .inner .index_contents .contents .bottom .ttop {height: auto;}
    .index_box .inner .index_contents .contents .bottom {height: auto; padding: 20px 15px;}


    .space .contents_box .right .space_slide .swiper-slide {height: 280px;}
    .space .contents_box .left li {padding: 0 10px; height: 40px;}
    .space .contents_box .left li p {font-size: 11px; top: -1px;}
    .space .contents_box .left li span {width: 9px; height: 9px;}

}

@media(max-width: 540px){

    .ask .inner .app_box .left .contents_box .contents {display: block;}
    .ask .inner .app_box .left .contents_box .contents h3 {margin-bottom: 10px; font-size: 14px; width: 100%;}
    .ask .inner .app_box .left .contents_box .contents > input {width: 100%; height: 40px; padding: 0 10px; font-size: 14px; border-radius: 10px;}
    .ask .inner .app_box .left .contents_box .contents select {width: 100%; height: 40px; padding: 0 10px; font-size: 14px; border-radius: 10px;}
    .ask .inner .app_box .left .contents_box .contents .label{width: 100%; justify-content: left;}
    .ask .inner .app_box .left .contents_box .contents .label label input[type="radio"] {width: 12px; height: 12px; position: relative; top: 1px;}
    .ask .inner .app_box .left .contents_box .contents .label label span {font-size: 14px;}
    .ask .inner .app_box .left .contents_box .contents .time {width: 100%; height: 40px; padding: 0 10px; font-size: 14px; border-radius: 10px;}
    .ask .inner .app_box .left .agree_box {width: 100%; height: 40px; padding: 0 10px;}

}

@media(max-width: 524px){

    .video .inner .imagee {width: 320px; margin: 40px auto 0;}
    .video .inner .gallery-main-box {width: 320px; height: 180px; margin: 0 auto 10px;}
    .video .inner .gallery-thumb-box {width: 320px;}

}

@media(max-width: 480px){

    footer .inner .right .pri {flex-direction: row; flex-wrap: wrap; gap: 0;}
    footer .inner .right .pri a {width: 50%;}
    footer .inner .right .pri a:nth-child(odd) {text-align: right; padding-right: 10px;}
    footer .inner .right .pri a:nth-child(even) {padding-left: 10px;}
    footer .inner .right .pri a::before {right: 0;}
    footer .inner .right .pri a:nth-child(2)::before {display: none;}

    .main_slide {height: 300px;}
    .main_slide .swiper-slide .txt h2 {font-size: 24px; line-height: 24px;}
    .main_slide .swiper-slide .txt h3 {font-size: 12px; line-height: 20px; margin-top: 5px;}
    .main_slide .swiper-slide .txt a {width: 120px; height: 35px; border-radius: 5px; margin: 25px auto 0;}
    .main_slide .swiper-slide .txt a p {font-size: 12px;}
    .main_slide .swiper-pagination {bottom: 15px;}
    .main_slide .swiper-pagination-bullet {width: 10px; height: 10px;}


    .index_box .inner > .txt p {font-size: 24px; line-height: 30px;}
    .index_box .inner > .txt span {font-size: 14px; line-height: 20px;}

}

@media(max-width: 440px) {

    .space .contents_box {gap: 20px;}
    .space .contents_box .left li {width: 48%; margin-bottom: 7px;}

}